@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  .post-it {
    background-image: linear-gradient(
      to top,
      black 1%,
      #fef08d 1% 20%,
      black 20% 21%,
      #fef08d 21% 40%,
      black 40% 41%,
      #fef08d 41% 60%,
      black 60% 61%,
      #fef08d 61% 80%,
      black 80% 81%,
      #fef08d 81% 100%
    );

    background-size: 150px 150px;
  }
}

@layer utilities {
  @keyframes line-animate {
    to {
      stroke-dashoffset: 0;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
